body {
    background-color: white !important; 
    color: rgb(27, 25, 23) !important;
    font-family: philosopher;
}   
.login {
   text-align: right; 
}
.signup {
    text-align: right;
}
img {
    float:right;
    height: 480px;
}

.titulo {
    text-align: justify;
}

header {
    display: ruby-base;
}

.logotipo {
    width: auto;
    max-height: 80px;

}